{
  "repositoryUrl": "git@github.com:jaromil/w3c-did.git",
  "dryRun": true,
  "plugins": [
    "@semantic-release/changelog",
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator"
  ],
  "branches": [ main ]
}
